<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
        <key>Label</key>
        <string>gov.llnl.mp.py.console</string>
        <key>ServiceDescription</key>
        <string>MacPatch Admin Console</string>
        <key>ProgramArguments</key>
        <array>
                <string>/opt/MacPatch/Server/conf/scripts/systemd/MPConsole.sh</string>
        </array>
        <key>RunAtLoad</key>
        <true/>
        <key>UserName</key>
        <string>_appserver</string>
        <key>StandardErrorPath</key>
        <string>/opt/MacPatch/Server/logs/ws_stderr.log</string>
        <key>StandardOutPath</key>
        <string>/opt/MacPatch/Server/logs/ws_stdout.log</string>
</dict>
</plist>