[Unit]
Description=MacPatch Web Services
After=network.target

[Service]
Type=simple

ExecStart=/bin/bash /opt/MacPatch/conf/scripts/systemd/WSService.sh start
ExecStop=/bin/bash /opt/MacPatch/conf/scripts/systemd/WSService.sh stop

RemainAfterExit=yes

[Install]
WantedBy=multi-user.target